{% unless page.url == '/' %}
<nav class="breadcrumb" aria-label="Breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <ol>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ '/' | relative_url }}"><span itemprop="name">Beranda</span></a>
      <meta itemprop="position" content="1">
    </li>
    
    {% if page.layout == 'post' and page.categories.size > 0 %}
      {% assign first_cat = page.categories.first %}
      {% assign first_cat_slug = first_cat | slugify %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{{ '/kategori/?c=' | append: first_cat_slug | relative_url }}">
          <span itemprop="name">{{ first_cat }}</span>
        </a>
        <meta itemprop="position" content="2">
      </li>
    {% elsif page.url == '/kategori/' %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
        <span itemprop="name">Kategori</span>
        <meta itemprop="position" content="2">
      </li>
    {% elsif page.url == '/tags/' %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
        <span itemprop="name">Tag</span>
        <meta itemprop="position" content="2">
      </li>
    {% endif %}
    
    {% unless page.url == '/kategori/' or page.url == '/tags/' %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
        <span itemprop="name">{{ page.title }}</span>
        <meta itemprop="position" content="3">
      </li>
    {% endunless %}
  </ol>
</nav>
{% endunless %}
